<ul *ngIf="paginas.length >0" class="pagination pagination-lg" > 
    

    <li class="page-item" *ngIf="paginador.number > 0">
        <a class="page-link" [routerLink]="['/clientes/page',paginador.number-1]">&laquo;</a>
    </li>

    <li [ngClass]="paginador.first?'disabled page-item': 'pae-item'">
        <a class="page-link" [routerLink]="['/clientes/page', 0]">Primera</a>
    </li>

    <li class="page-item" *ngFor="let Pagina of paginas" [ngClass]="Pagina-1 == paginador.number?'active':''">
        <span class="page-link" *ngIf="Pagina-1 ==paginador.number">{{Pagina}}</span>
        <a *ngIf="Pagina-1 !=paginador.number" class="page-link"
            [routerLink]="['/clientes/page',Pagina-1]">{{Pagina}}</a>
    </li>
    <li [ngClass]="paginador.last?'disabled page-item': 'pae-item'">
        <a class="page-link" [routerLink]="['/clientes/page', paginador.totalPages-1]">ultima</a>
    </li>

    <li class="page-item" *ngIf="paginador.number < paginador.totalPages-1">
        <a class="page-link" [routerLink]="['/clientes/page',paginador.number+1]">&raquo;</a>
    </li>

</ul>